<div class="row my-4">
  <div class="col-xs-12">
    <h2>Urls Salvas</h2>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-12">
    <div 
      *ngIf="!isFetching"
      class="list-group"
    >
      <div 
        *ngFor="let url of urls"
        class="list-group-item clearfix"
      >
        <div class="float-left">
          <a href="{{ url.shortUrl }}">
            <h4 class="list-group-item-heading">{{ url.shortUrl }}</h4>
          </a>
          <p class="list-group-item-text">Encurtado de: {{ url.longUrl }}</p>
        </div>
        <div class="float-right">
          <span class="mr-2">
            Clicks: {{ url.numOfClicks }}
          </span>
          <button 
            (click)="onUrlDelete(url)"
            class="exclude-button"
          >
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-square" viewBox="0 0 16 16">
              <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
            </svg>
          </button>
        </div>
      </div>
    </div> 
    <app-modal
      [modalTitle]="'Delete Shortened URL'"
      [message]="'Do you really want to delete this link? All previous reference to it that you have sent to others will become invalid.'"
      [buttonLabel]="'Delete'"
      (dismissAction)="onDismissModal()"
      (deleteAction)="onDeleteAccepted()"
    >
    </app-modal>
  </div>
  <!-- <div *ngIf="isFetching" class="row justify-content-center"> -->
    <div *ngIf="isFetching" class="spinner-border my-4" role="status">
      <span class="visually-hidden"></span>
    </div>
  <!-- </div> -->
</div>
