<div
  #exampleModal
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-hidden="true"
  data-backdrop="static"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{{ modalTitle }}</h5>
        <button 
          type="button"
          class="close"
          (click)="dismiss()"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        {{ message }}
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="dismiss()">Close</button>
        <button type="button" class="btn btn-danger" (click)="sendModal()">{{ buttonLabel }}</button>
      </div>
    </div>
  </div>
</div>
