<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3"
  >
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']">Pkeno</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
            *ngIf="auth.loggedIn"
          >
            <a class="nav-link text-dark" [routerLink]="['/']">Home</a>
          </li>
          <li 
            class="nav-item" 
            [routerLinkActive]="['link-active']"
            *ngIf="auth.loggedIn"
          >
            <a class="nav-link text-dark" [routerLink]="['/url-list']">
              Ver Todas
            </a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['link-active']"
            [routerLinkActiveOptions]="{ exact: true }"
            *ngIf="auth.loggedIn"
          >
            <a class="nav-link text-dark" [routerLink]="['/profile']">Profile</a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['login']"
            *ngIf="!auth.loggedIn"
          >
            <a class="nav-link text-dark" [routerLink]="['/login']">
              Login
            </a>
          </li>
          <li
            class="nav-item"
            *ngIf="auth.loggedIn"
          >
            <a class="nav-link text-dark" href="#" (click)="logout()">
              Logout
            </a>
          </li>
          <li
            class="nav-item"
            [routerLinkActive]="['sign-up']"
            *ngIf="!auth.loggedIn"
          >
            <a class="nav-link text-dark" [routerLink]="['/sign-up']">
              Criar Conta
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
