<h4 *ngIf>{{ error }}</h4>
<div class="row" novalidate>
  <div class="col-lg-12">
    <form (ngSubmit)="submit()">
      <div class="form-group col-4">
        <label for="username">Username</label>
        <input 
          class="form-control"
          type="text" 
          name="username"
          [(ngModel)]="username"
          required
        />
      </div>
      <div class="form-group col-4">
        <label for="password">Password</label>
        <input 
          class="form-control"
          type="password" 
          name="password"
          [(ngModel)]="password"
          required
        />
      </div>
      <div class="col-3 my-3">
        <a [routerLink]="['/sign-up']" >Criar uma conta.</a>
      </div>
      <div class="form-group col-1">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
  </div>
</div>
