
<h3 id="shortener-header">Encurte sua Url</h3>

<form #urlForm novalidate>
  <div class="row" id="shortener-container">
    <div class="col-12 mt-4">
      <div>
        <input
          #urlInput
          class="form-control"
          type="text" 
          [(ngModel)]="url"
          name="url"
          placeholder="http://www.google.com"
          required
        />
        <div class="invalid-feedback">
          Esta URL é inválida. Por favor tente usar outra.
        </div>
      </div>
    </div>
  </div>
  <div class="row my-4">
    <div class="col">
      <button 
        (click)="onShorten()"
        class="btn btn-success mx-2">
        Encurtar
      </button>
      <button 
        class="btn btn-primary mx-2"
        (click)="showAllUrls()"
      >
        Ver Todos
      </button>
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="resultUrl !== null">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          Your Shortened URL:
        </div>
        <div class="card-body">
          <a href="{{ resultUrl.shortUrl }}">{{ resultUrl.shortUrl }}</a>
        </div>
      </div>
    </div>
  </div>
</form>
