<div class="row my-4">
  <h1>Configurações de Perfil</h1>
</div>
<!-- Notification -->
<div class="row" *ngIf="notificationText && responseState === State.ERROR">
  <div class="col-3">
    <div class="alert alert-danger col-12" role="alert">
      <p [(innerHTML)]="notificationText"></p>
    </div>
  </div>
</div>

<div class="row" *ngIf="notificationText && responseState === State.SUCCESS">
  <div class="col-3">
    <div class="alert alert-success col-12" role="alert">
      <p [(innerHTML)]="notificationText"></p>
    </div>
  </div>
</div>

<div class="row" novalidate>
  <div class="col-lg-12">
    <form #registerForm (ngSubmit)="submit()">
      <div class="form-group col-4">
        <label for="email">Email</label>
        <input 
          class="form-control"
          type="text" 
          name="email"
          [(ngModel)]="email"
          required
        />
      </div>
      <div class="form-group col-4">
        <label for="phone">Telefone</label>
        <input 
          class="form-control"
          type="phone" 
          name="phone"
          [(ngModel)]="phone"
          required
        />
      </div>
      <div class="form-group col-6">
        <label for="description">Descrição</label>
        <textarea
          class="form-control"
          row="3"
          placeholder = "Descreva seu perfil aqui."
          name="description"
          [(ngModel)]="description"
          required
        ></textarea>
      </div>
      <div class="form-group col-1">
        <button class="btn btn-primary" type="submit">Enviar</button>
      </div>
    </form>
  </div>
</div>
