<div class="row my-4">
  <h1>Criar conta</h1>
</div>
<div class="row">
  <div class="col-3">
    <p *ngIf="error">{{ error }}</p>
  </div>
</div>
<div class="row" novalidate>
  <div class="col-lg-12">
    <form #registerForm (ngSubmit)="submit()">
      <div class="form-group col-4">
        <label for="username">Nome de usuário</label>
        <input 
          class="form-control"
          type="text" 
          name="username"
          [(ngModel)]="username"
          required
        />
      </div>
      <div class="form-group col-4">
        <label for="email">Email</label>
        <input 
          class="form-control"
          type="email" 
          name="email"
          [(ngModel)]="email"
          required
        />
      </div>
      <div class="form-group col-4">
        <label for="password">Senha</label>
        <input 
          class="form-control"
          type="password" 
          name="password"
          [(ngModel)]="password"
          required
        />
      </div>
      <div class="form-group col-4">
        <label for="passwordConfirmation">Confirme sua senha</label>
        <input 
          class="form-control"
          type="password" 
          name="passwordConfimation"
          [(ngModel)]="passwordConfirmation"
          required
        />
      </div>
      <div class="form-group col-1">
        <button class="btn btn-primary" type="submit">Enviar</button>
      </div>
    </form>
  </div>
</div>
